:root {
    --bg-color: #03395D;
    --black: #090E13;
    --blue-button: #425EA5;
    --blue-search: #E2E9FE;
    --text-color: #F0F1F2;
    --text-font: 'Montserrat', sans-serif;
    --text-title: 'Montserrat Subrayada', static;
}